In [41]:
from img2table.ocr import TesseractOCR, PaddleOCR
from img2table.document import PDF, Image
import pandas as pd


# Instantiation of OCR
tesseractocr = TesseractOCR(n_threads=1, lang="eng")
paddle_ocr = PaddleOCR(lang="en", kw={"use_dilation": True})

def extract_doc_demo(doc, ocr = tesseractocr):
    # Table extraction
    result = doc.extract_tables(ocr=ocr,
                                        implicit_rows=False,
                                        borderless_tables=True,
                                        min_confidence=50)



    print(result)

    for page, tables in result.items():
        print("This is Page", page)

        # iterate over the tables in one page
        for table in tables:
        # access the table at the cell-level
            display(table.df)
            # for id_row, row in enumerate(table.content.values()):
            #     for id_col, cell in enumerate(row):

            #         x1 = cell.bbox.x1
            #         y1 = cell.bbox.y1
            #         x2 = cell.bbox.x2
            #         y2 = cell.bbox.y2
            #         value = cell.value
            #         print(value)

def extract_image_demo(image, ocr = tesseractocr):
    # Table extraction
    result = image.extract_tables(ocr=ocr,
                                        implicit_rows=False,
                                        borderless_tables=True,
                                        min_confidence=50)



    print(result)

    for page, table in enumerate(result):
        print("This is Page", page)

        display(table.df)

tesseract 5.3.4
 leptonica-1.84.1
  libgif 5.2.1 : libjpeg 8d (libjpeg-turbo 3.0.0) : libpng 1.6.43 : libtiff 4.6.0 : zlib 1.2.11 : libwebp 1.4.0 : libopenjp2 2.5.2
 Found AVX2
 Found AVX
 Found FMA
 Found SSE4.1
 Found libarchive 3.7.4 zlib/1.2.11 liblzma/5.4.6 bz2lib/1.0.8 liblz4/1.9.4 libzstd/1.5.6
 Found libcurl/7.79.1 SecureTransport (LibreSSL/3.3.6) zlib/1.2.11 nghttp2/1.45.1

In [42]:

# Instantiation of document, either an image or a PDF
doc_borderless = PDF("./test/assets/BorderlessMergeCell.pdf")
doc_syllabus = PDF("./test/assets/Subject description form ELC1A08.pdf")
doc_contact_lens = PDF("./test/assets/20240219phb.pdf", pages=[0,1,2,3,4,5])
image_syllabus = Image("./test/assets/SyllabusImage_HighQuality.png")

In [43]:
# borderless table extract, still have problem with merged cell with "None" as the following example
extract_doc_demo(doc_borderless)

{0: [ExtractedTable(title=None, bbox=(208, 200, 1159, 533),shape=(8, 4))]}
This is Page 0

        0     1    2          3
0    None  Year  GPA      Habit
1     Amy     2  3.2   Swimming
2    John     3  3.5  Badminton
3     Bob     1  3.7    Reading
4  George     2  3.2     Travel
5   Cilly     1  3.5      Study
6    Eric     3  3.2    Cooking
7    None     2  3.9    Cycling

In [48]:
# first 6 pages of the contact lens document
extract_doc_demo(doc_contact_lens)

{0: [], 1: [], 2: [ExtractedTable(title=CONTENT, bbox=(158, 231, 1341, 525),shape=(5, 3)), ExtractedTable(title=None, bbox=(158, 542, 1169, 885),shape=(6, 4)), ExtractedTable(title=None, bbox=(161, 896, 939, 1202),shape=(5, 3))], 3: [ExtractedTable(title=Disposable Spherical, bbox=(98, 368, 1555, 2017),shape=(9, 6))], 4: [ExtractedTable(title=None, bbox=(72, 1872, 1046, 2125),shape=(2, 3)), ExtractedTable(title=None, bbox=(57, 2187, 1586, 2315),shape=(2, 3))], 5: [ExtractedTable(title=Disposable Spherical (Con’t), bbox=(98, 368, 1555, 1732),shape=(7, 6))]}
This is Page 0
This is Page 1
This is Page 2

,0,1,2
0,Silicone Hydrogel Contact lenses\nSpherical\n0...,Silicone Hydrogel Contact lenses\nSpherical\n0...,~
1,Toric,01-04,None
2,Progressive,01-07,None
3,Cosmetic,01-09,None
4,Specialty,01-10,None

,0,1,2,3
0,Soft Contact lenses\nDisposable,Soft Contact lenses\nDisposable,e\nConventional,e\nConventional
1,Spherical,02-01,Spherical,02-13
2,Toric,02-04,Toric,02-14
3,Progressive,02-06,Specialty,02-15
4,Cosmetic,02-08,None,None
5,Specialty,02-12,None,None

,0,1,2
0,Rigid Contact lenses\nSpherical / Aspheric\n03-01,Rigid Contact lenses\nSpherical / Aspheric\n03-01,e
1,Toric,03-03,None
2,Progressive,03-04,None
3,Specialty,03-06,None
4,Orthokeratology,03-09,None

This is Page 3

,0,1,2,3,4,5
0,Alcon\n(Alcon HK Ltd),DAILIES TOTAL\n(Water Gradient)\n(1 day),Delefilcon A\n140\nVv\n33 to ~100\n0.014- 0.7,to +0.50 (0.25)\n-0.50 to -6.00 (0.25)\n-6.50 ...,8.5\n14.1\n0.09,SmarTears® Technology
1,Alcon\n(Alcon HK Ltd),(1 day),Verofilcon A\n90\nVv\n51 to >80\n0.6,to +6.50 (0.50)\nto +0.50 (0.25)\n-0.50 to -6....,8.3\n14.2\n0.09,SMARTSURFACE®\nTechnology\nClass 1 UV Blocking
2,Alcon\n(Alcon HK Ltd),AIR OPTIX® plus\nHydraGlyde®\n(4 weeks),Lotrafilcon B\n10\nVv\n33\n0,"+8.00 to +6.50 (0.50)\n+6,00 to +0.25 (0.25)\n...",8.6\n14.2\n0.08,SmartShield®\nTechnology
3,Alcon\n(Alcon HK Ltd),AIR OPTIX® NIGHT\n& DAY® AQUA\n(4 weeks),Lotrafilcon A\n40\nVv\n24\n2,+6.00 to -8.00 (0.25)\n-8.50 to -10.00 (0.50),8.4/8.6\n13.8\n0.08,SmartShield®\nTechnology
4,Bausch + Lomb,ULTRA® ONE DAY\n(1 day),kalifilcon A\n07\nVv\n55\n0.5,+6.00 to -6.00 (0.25)\n-6.50 to -12.00 (0.50),8.6\n14.2\n0.08,Advanced MoistureSeal+\nComfortFeel Technology...
5,Bausch + Lomb,PureVision®2*\n(4 weeks),Balafilcon A\n91\n36\n1.1,+6.00 to -6.00 (0.25)\n-6.50 to -12.00 (0.50),8.6\n14.0\n0.07,High Definition Optics\n(Aspheric design)\nMar...
6,Bausch + Lomb,ULTRA®\n(4 weeks),Samfilcon A\n114\nVv\n46\n0.69,+6.00 to -6.00 (0.25)\n-6.50 to -12.00 (0.50),8.5\n14.2\n0.07,MoistureSeal\nTechnology\nHigh Definition Optics
7,BenQ Materials\nCorp.\n(Oculus Optical (HK)),Miacare -\nDELIGHT Daily\nClear 1 Day\nContact...,Oilfilcon B\n120\nIV\n47\n0.6,-1.00 to -6.00 (0.25)\n-6.50 to -12.00 (0.50),8.8\n14.1\n0.08,N/A
8,BenQ Materials\nCorp.\n(Oculus Optical (HK)),Miacare\nDELIGHT Monthly\nClear Contact\nLens\...,Olifilcon A\n150\nIV\n47%\nN/A,-1.00 to -6.00 (0.25)\n-6.50 to -12.00 (0.50),8.7\n14.0\n0.08,N/A

This is Page 4

          0      1     2
0      None  Alcon  None
1  TOTAL 1)   None     J

      0          1      2
0  None       None  Alcon
1    hk  3972 7338   None

This is Page 5

,0,1,2,3,4,5
0,CooperVision (HK),clariti 1 day\n(1 day),Somofilcon A\n60\nV\n56\n0.5,+8.00 to +6.50 (0.50)\n+6.00 to +0.50 (0.25)\n...,8.6\n14.1\n0.07,UV block
1,CooperVision (HK),MyDay\n(1 day),Stenfilcon A\n80\nV\n54\n0.4,+8.00 to +6.50 (0.50)\n+6.00 to +0.50 (0.25)\n...,8.4\n14.2\n0.08,UV block
2,CooperVision (HK),Biofinity\n(4 weeks),Comfilcon A\n128\nV\n48\n0.75,+8.00 to +6.50 (0.50)\n+6.00 to +0.25 (0.25)\n...,8.6\n14.0\n0.08,N/A
3,CooperVision (HK),Biofinity XR*\n(4 weeks),Comfilcon A\n128\nV\n48\n0.75,MTO*\n+15.00 to +8.50 (0.50)\n-12.50 to-20.00 ...,8.6\n14.0,N/A
4,Johnson & Johnson\nMedTech,ACUVUE® OASYS\n1-DAY\n(1 day),Senofilcon A\n103\nV\n38\n0.68,+8.00 to +6.50 (0.50)\n+6.00 to +0.50 (0.25)\n...,8.5/9.0\n14.3\n0.085,“123” inside-out\nindicator\nHydraLuxe® Techno...
5,Johnson & Johnson\nMedTech,ACUVUE® OASYS\nMAX 1-DAY\n(1 day),Senofilcon A\n103\nV\n38\n0.68,+8.00 to +6.50 (0.50)\n+6.00 to +0.50 (0.25)\n...,8.5/9.0\n14.3\n0.085,“123” inside-out\nindicator\nOptiBlue™ Light F...
6,Johnson & Johnson\nMedTech,ACUVUE® OASYS\n2-WEEK\n(2 weeks),Senofilcon A\n103\nV\n38\n0.68,+8.00 to +6.50 (0.50)\n+6.00 to +0.50 (0.25)\n...,8.4/8.8\n14.0\n0.07,“123” inside-out\nindicator\nHydraLuxe® Techno...

In [45]:
extract_image_demo(image_syllabus)

[ExtractedTable(title=None, bbox=(19, 10, 762, 427),shape=(6, 2))]
This is Page 0

,0,1
0,jubject Code,ELCIA08
1,Subject Title,Digital literacies and language
2,Credit Value,3
3,Level,1
4,Pre-requisite /\nCo-requisite/\nExclusion,None
5,Objectives,"Digital literacy is the ability to consume, th..."

extract_image_demo()